.full_section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.featured_content {
    position: relative;
    z-index: 1;
    color: white;
    font-family: Avenir;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 10rem;
    gap: 1.5rem;
    letter-spacing: .5px;
}

.picture_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
}



.featured_content .full_section_text {
    width: 60ch;
    letter-spacing: 0.5px;
    font-size: .9rem;
    line-height: 1.5;
    color: #d3d0d0;
}

.featured_content h2 {
    font-size: 3rem;
    font-family: AvenirBlack;
    max-width: 10ch;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.featured_content button {
    background-color: transparent;
    color: var(--white);
    border: none;
    font-family: Avenir;
    letter-spacing: 2px;
    padding-top: 1rem;
    width: 200px;
    text-align: left;
    transition: ease-in .1s;
    padding: 1rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1050px) {
    .picture_list {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 900px) {
    .featured_content {
        padding: 10rem 5rem;
    }
}

@media screen and (max-width: 650px) {
    .picture_list {
        display: grid;
        grid-template-columns: auto;
    }

    .featured_content {
        padding: 10rem 2rem;

    }

    .featured_content .full_section_text {
        width: auto;
    }

    .featured_content h2 {
        max-width: 10ch;
        font-size: 2rem;
    }

}